<div class="text-light py-2" id="searchContainer">
  <form [formGroup]="form" class="container py-4" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
        <label for="actividad" class="">Actividad</label>
        <select formControlName="op1" name="op1" id="actividad" class="browser-default custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col">
        <label for="destino" class="">Destino</label>
        <select formControlName="op2" name="op2" id="destino" class="browser-default custom-select">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
      <div class="col">
        <label class="">Fecha </label>
        <mat-form-field class="form-control m-0 ">
          <input matInput formControlName="fecha" name="fecha" [matDatepicker]="picker" (dateInput)="addEvent($event)"
            (dateChange)="addEvent($event)" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <label class="">Busqueda</label>
        <button class="form-control" mat-raised-button color="primary">Encontrar</button>
      </div>
    </div>
  </form>
</div>
