<mat-card class="example-card">
  <img mat-card-image src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Photo of a Shiba Inu" />
  <mat-card-content class=" text-center">
    <p class="font-small grey-dark-text mb-0 font-weight-bold">
      Fin de semana Cundinamarca
    </p>
    <p>
      La vega, Girardot
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="d-flex align-content-center justify-content-center">
      <a class="rounded-pill m-2 btn btn-outline-success" mat-stroked-button color="primary">Detalles</a>
      <a class="rounded-pill m-2 btn btn-outline-success" mat-stroked-button color="primary">Detalles</a>
    </div>
  </mat-card-actions>
</mat-card>
