.body-content {
  height: 350px !important;
  background-image: url('https://s3.ap-south-1.amazonaws.com/dlab-html/triper/xhtml/images/background/bg3.jpg');
  background-size: auto;
  background-attachment: fixed;
  background-position: 0px -52.5376px;
}
