<div class="body-content">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h1>Nombre</h1>
        <h2>Sub Title</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. In, aut. Voluptatum ullam cupiditate molestiae
          assumenda? Exercitationem, reiciendis. Cum id voluptate ut modi perferendis unde quia, nostrum delectus
          repellat neque iusto.
        </p>
        <button class="btn col-md-6 m-0" mat-raised-button color="primary">Ir Detalle</button>
      </div>
      <div class="col-lg-6 col-md-6"></div>
    </div>
  </div>
</div>
