<div class="container my-5">
  <div class="row mb-5 text-center">
    <div class="col-md-12">
      <h1>Lugares</h1>
      <span>
        Manténgase actualizado y revise las ofertas para estos destinos de tendencias. Es indescriptible.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Sitios</h3>
      <div class="list-group">
          <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
          <a class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
        </div>
    </div>
    <div class="col-md-8">
      <h3>
        
      </h3>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam odio tempore quod, vitae error nihil voluptates culpa repudiandae doloremque. Nobis error repudiandae nemo itaque id eius omnis magnam molestiae perspiciatis?
    </div>
  </div>
</div>