<div class="p-3 px-md-4 bg-white border-bottom shadow-sm">
  <div class="container d-flex flex-column flex-md-row align-items-center">
    <h5 class="my-0 mr-md-auto font-weight-normal"><img src="assets/logo.png" alt="" /></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a [routerLink]="['/']" routerLinkActive="active" class="p-2 text-dark">Inicio</a>
      <a [routerLink]="['/places']" routerLinkActive="active" class="p-2 text-dark">Lugares</a>
      <a [routerLink]="['/about']" routerLinkActive="active" class="p-2 text-dark">Acerca</a>
      <a [routerLink]="['/contact']" routerLinkActive="active" class="p-2 text-dark">Contacto</a>
    </nav>

    <!-- <button class="btn" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <span mat-menu-item>
        <a [routerLink]="['/login']" routerLinkActive="active">
          <mat-icon>voicemail</mat-icon>
          <span>Ingresar</span>
        </a>
      </span>

      <span mat-menu-item>
        <a [routerLink]="['/register']" routerLinkActive="active">
          <mat-icon>voicemail</mat-icon>
          <span>Registrarse</span>
        </a>
      </span>
    </mat-menu> -->
  </div>
</div>
<!-- <mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a [routerLink]="[ '/' ]" routerLinkActive="active"><img src="../../../assets/logo.png" alt="" /></a>
    </span>
    <span class="example-spacer"></span>
    <button mat-button><a [routerLink]="[ '/' ]" routerLinkActive="active">Index</a></button>
    <button mat-button><a [routerLink]="[ '/about' ]" routerLinkActive="active">About</a></button>
    <button mat-button><a [routerLink]="[ '/contact' ]" routerLinkActive="active">Contact</a></button>


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a [routerLink]="[ '/login' ]" routerLinkActive="active">
          <mat-icon>voicemail</mat-icon>
          <span>Login</span>
        </a>
      </button>

      <button mat-menu-item>
        <a [routerLink]="[ '/register' ]" routerLinkActive="active">
          <mat-icon>voicemail</mat-icon>
          <span>Register</span>
        </a>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar> -->
