<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <a [routerLink]="[ '/' ]" routerLinkActive="active"><img src="../../../assets/logo.png" alt="" /></a>
    </span>
    <span class="example-spacer"></span>
    <a [routerLink]="[ '/about' ]" routerLinkActive="active">About</a>
    <a [routerLink]="[ '/contact' ]" routerLinkActive="active">Contact</a>
    <a [routerLink]="[ '/login' ]" routerLinkActive="active">Login</a>
    <a [routerLink]="[ '/register' ]" routerLinkActive="active">Register</a>
    <!-- <mat-icon class="example-icon">tab</mat-icon>
    <mat-icon class="example-icon">eject</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>
