<mat-card class="example-card">
  <img mat-card-image src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <!--Text-->
    <p class="font-small grey-dark-text mb-0 text-center font-weight-bold">
      Fin de semana Cundinamarca
    </p>
    <p>
      La vega, Girardot
    </p>
  </mat-card-content>
  <hr />
  <mat-card-actions>
    <ul class="list-unstyled list-inline font-small mt-3 text-left pl-3">
      <li class="list-inline-item pr-2"><span class="fa fa-calendar pr-1"></span>Dias 3</li>
      <li class="list-inline-item pr-2"><span class="fa fa-user pr-1"></span>Personas: 1</li>
    </ul>
    <div class="d-flex align-content-between justify-content-between">
      <span class="d-flex justify-content-center align-items-center price">$300</span>
      <button class="rounded-pill m-2" mat-raised-button color="primary">Detalles</button>
    </div>
  </mat-card-actions>
</mat-card>
