<app-slider></app-slider>
<app-search></app-search>
<div class="container pb-4">
  <div class="row text-center mt-4">
    <div class="col-12">
      <h1>MEJORES LUGARES</h1>
      <span>MEJORES PAQUETES DE VIAJE DISPONIBLES</span>
    </div>
  </div>
  <div class="row mt-4 align-items-center">
    <div class="col-md-8">
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2 my-2" mat-raised-button color="primary">Like</button>
    </div>
    <div class="col-md-4">
      <select formControlName="op2" name="op2" id="destino" class="browser-default custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>
  <div class="row">
    <app-card-site class="col-md-4 my-4"></app-card-site>
    <app-card-site class="col-md-4 my-4"></app-card-site>
    <app-card-site class="col-md-4 my-4"></app-card-site>
  </div>
</div>

<app-promotion></app-promotion>

<div class="container pb-4">
  <div class="row text-center my-4">
    <div class="col-12">
      <h1>Paquetes</h1>
      <span>MEJORES PAQUETES DE VIAJE</span>
    </div>
  </div>
  <div class="row">
    <app-card-package class="col-lg-6 col-xl-3 col-sm-6 col-md-6 m-b30 my-2"></app-card-package>
    <app-card-package class="col-lg-6 col-xl-3 col-sm-6 col-md-6 m-b30 my-2"></app-card-package>
    <app-card-package class="col-lg-6 col-xl-3 col-sm-6 col-md-6 m-b30 my-2"></app-card-package>
    <app-card-package class="col-lg-6 col-xl-3 col-sm-6 col-md-6 m-b30 my-2"></app-card-package>
  </div>
</div>
