<app-slider></app-slider>
<app-search></app-search>
<div class="container">
  <div class="row text-center mt-4">
    <div class="col-12">
      <h1>TOP PLACES</h1>
      <span>MEJORES PAQUETES DE VIAJE DISPONIBLES</span>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
      <button class="btn btn-lg mr-2" mat-raised-button color="primary">Like</button>
    </div>
  </div>
  <div class="row">
    <app-card-site class="col-md-4 my-4"></app-card-site>
    <app-card-site class="col-md-4 my-4"></app-card-site>
    <app-card-site class="col-md-4 my-4"></app-card-site>
  </div>
</div>
