<div class="container-fluid">
  <div class="row mb-5 text-center bg-image py-5">
    <div class="col-md-12">
      <h1>Bogota</h1>
      <span> Capital de Colombia Etc</span>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="row">
        <app-slider class="col-12"></app-slider>
        <div class="col-md-12">
          <h2 class="mt-4">Acerca de Bogota</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nostrum pariatur eos totam adipisci?
            Consequuntur recusandae eos, repellat optio odio ad, quae nam inventore assumenda at maxime iure sint
            explicabo.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h3 class="text-center">Reserva</h3>
      <div class="form-group">
        <button class="btn col-md-6 m-0" mat-raised-button color="primary">Bogota</button>
        <button class="btn col-md-6 m-0" mat-raised-button color="primary">Bogota</button>
      </div>
      <div>
        <span>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, iusto. Nulla inventore quia odio tempore
          magnam
          asperiores similique. Velit porro non unde labore dolor aliquam sit, possimus harum. Unde, aperiam!
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <!-- <iframe
        src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d15907.621350754038!2d-74.08043901414119!3d4.610962134712221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e2!4m3!3m2!1d4.6238863!2d-74.0656247!4m3!3m2!1d4.5978468!2d-74.0756358!5e0!3m2!1ses!2sco!4v1553892150571!5m2!1ses!2sco"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
      <!-- <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map> -->
      <!-- <div id="map"></div> -->
      <!-- <picture>
        <img src="assets/4.png" alt="" class="img-thumbnail map" />
        <div class="punto1" #punto1 (click)="ShowDetailSite(punto1)"></div>
      </picture> -->
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-direction [origin]="origin" [destination]="destination" (click)="mapClicked($event)">
        </agm-direction>
      </agm-map>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class="row">
        <span>{{ detail.Site }}</span>
        <p>{{ detail.Description }}</p>
      </div>
      <div class="row">
        <figure class="col-md-1" *ngFor="let image of detail.images">
          <div style="height: 200px;" [style.backgroundImage]="'url(' + image.url + ')'"></div>
        </figure>
      </div>
    </div>
  </div>
</div>
