.list-group-item {
  cursor: pointer;
}

.bg-image {
  background: rgb(34, 34, 34);
  background-image: url('https://s3.ap-south-1.amazonaws.com/dlab-html/triper/xhtml/images/background/bg1.jpg');
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.btn-search {
  background-color: #21ab64 !important;
  font: bold;
}

button {
  background-color: #21ab64 !important;
  border-radius: 0px !important;
}
.map {
}
.punto1 {
  background-color: rgb(248, 131, 131);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -210px;
  right: -120px;
  filter: opacity(0.5);
  transition: 1s all;
}
.punto1:hover {
  cursor: pointer;
  transform: scale(1.1);
}
