<div class="container-fluid">
  <div class="row mb-5 text-center bg-image py-5">
    <div class="col-md-12">
      <h1>Bogota</h1>
      <span> Capital de Colombia Etc</span>
    </div>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class="row">
        <app-slider class="col-12"></app-slider>
        <div class="col-md-12">
          <h2 class="mt-4">Acerca de Bogota</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nostrum pariatur eos totam adipisci?
            Consequuntur recusandae eos, repellat optio odio ad, quae nam inventore assumenda at maxime iure sint
            explicabo.</p>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h3 class="text-center">Reserva</h3>
      <div class="form-group">
        <button class="btn col-md-6 m-0" mat-raised-button color="primary">Bogota</button>
        <button class="btn col-md-6 m-0" mat-raised-button color="primary">Bogota</button>
      </div>
      <div>
        <span>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, iusto. Nulla inventore quia odio tempore
          magnam asperiores similique. Velit porro non unde labore dolor aliquam sit, possimus harum. Unde, aperiam!
        </span>
      </div>
    </div>
  </div>
</div>
