@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px !important;
  padding: 0px !important;
  padding-top: 5.2rem !important;
  min-height: 100vh !important;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-infix {
  border-top: 0px !important;
  padding-left: 5px !important;
}

@media (max-width: 767px) {
  body {
    padding-top: 10rem !important;
  }
}
