/* mat-toolbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(70, 69, 69);
  color: azure;
}

.text-center {
  text-align: center;
  font-size: 15px !important;
}

.separador {
  height: 20px !important;
  background-color: rgb(83, 82, 82);
} */
.bg-footer {
  background-color: #121212;
  color: #b0b0b0;
}

ul {
  list-style: none;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
}

.btn-fb {
  background-color: #4B69A8;
  color: white !important;
}

.btn-link {
  background-color: #249DD7;
  color: white !important;
}

.btn-tw {
  background-color: #1EA1F3;
  color: white !important;
}
