<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4  bg-footer">
  <!-- Footer Elements -->
  <div class="container">
    <h5 class="my-0 font-weight-normal text-center mb-4 py-4"><img src="../../../assets/logo.png" alt="" /></h5>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1 btn-lg" mdbWavesEffect>
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1 btn-lg" mdbWavesEffect>
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-link mx-1 btn-lg" mdbWavesEffect>
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row my-4 text-center">
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-content-between justify-content-around">
        <div class="col-6">
          <i class="fa fa-map-marker fa-3x"></i>
        </div>
        <div class="col-6 text-left">
          <h5 class="m-0">Direccion</h5>
          <p>Brodway Road 234, New York</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-content-between justify-content-around">
        <div class="col-6">
          <i class="fa fa-phone fa-3x"></i>
        </div>
        <div class="col-6 text-left">
          <h5 class="m-0">Mobile</h5>
          <p>+00 1234 456789 +10 1234 456789</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-content-between justify-content-around">
        <div class="col-6">
          <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
        </div>
        <div class="col-6 text-left">
          <h5 class="m-0">Mail</h5>
          <p>Info@travel.com</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 d-flex align-content-between justify-content-around">
        <div class="col-6">
          <i class="fa fa-fax fa-3x"></i>
        </div>
        <div class="col-6 text-left">
          <h5 class="m-0">Fax</h5>
          <p>000 123 2294 089</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-light">
    © 2018 Copyright
    <a href="/" class="alert-link text-light"> gmoreno</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
