/* mat-toolbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(70, 69, 69);
  color: azure;
}

.text-center {
  text-align: center;
  font-size: 15px !important;
}

.separador {
  height: 20px !important;
  background-color: rgb(83, 82, 82);
} */
.bg-footer {
  border-top: #21ab64 solid 2px;
  background: rgb(34, 34, 34);
  background-image: url('https://s3.ap-south-1.amazonaws.com/dlab-html/triper/xhtml/images/background/bg1.jpg');
  background-blend-mode: soft-light;
  background-attachment: fixed;
  background-size: cover;
  font-weight: bold;
  color: #dfdfdf;
}

ul {
  list-style: none;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
}

.btn-fb {
  background-color: #4b69a8;
  color: white !important;
}

.btn-link {
  background-color: #249dd7;
  color: white !important;
}

.btn-tw {
  background-color: #1ea1f3;
  color: white !important;
}
