/* mat-toolbar {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgb(70, 69, 69);
  color: azure;
}

.text-center {
  text-align: center;
  font-size: 15px !important;
}

.separador {
  height: 20px !important;
  background-color: rgb(83, 82, 82);
} */
.fa-facebook-square {
  width: 50px !important;
}

.bg-footer {
  background-color: rgb(218, 218, 218);
  color: rgb(66, 66, 66)
}
