<mat-card class="example-card">
  <a [routerLink]="[ '/places', bogota ]">
    <div class="media-card">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <div class="price py-2">
        <span>1200 USD</span>
      </div>
    </div>
  </a>
  <mat-card-content>
    <h4 class="text-center">Bogota</h4>
    <span>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog
      that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </span>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn col-md-6 m-0" mat-raised-button color="primary">Bogota</button>
    <button class="btn col-md-6 m-0 btn1" mat-raised-button color="primary">Share</button>
  </mat-card-actions>
</mat-card>
